:root{
  --black: #120907;
  --white: #ffffff;
  --bg-btn: #232445;
  --bg-dark: #555b89;
  --bg-medium: #969de6;
  --bg-light: #d4d7ed;
}
 
 html,
 body {
   height: 100%;
 }

 body {
  background: var(--bg-dark);
  background: linear-gradient(180deg,  var(--bg-dark) 5%, var(--bg-medium) 35%, var(--white) 100%);
  color: white;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
 }

 .form-signin {
   width: 100%;
   max-width: 380px;
   padding: 15px;
   margin: auto;
   color: var(--black);
   border: 4px solid var(--bg-dark);
   border-radius: 25px;
 }

 .btn {
  background-color:var(--bg-dark); 
 }

